[Unit]
Description=Nutrify
After=syslog.target network.target

[Service]
User=ubuntu
ExecStart=/bin/bash -c "source /home/ubuntu/nutrify/secrets.sh\
&& source /home/ubuntu/nutrify/env/bin/activate\
&& python /home/ubuntu/nutrify/server.py &>> /home/ubuntu/nutrify/flask.log"
Restart=always

[Install]
WantedBy=multi-user.target