
.navbar-custom {
    background-color: #247BA0;
}

.labelButton {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #F3FFBD;
    color: black;
    margin-bottom: 15px
}

.btn-space {
    margin-right: 5px;
}

.flex-container {
  display: flex;
  margin-left: 0px;

}

.margins {
	 top-margin: 10px; 
	 bottom-margin: 10px; 
}

.searchButton {
	margin-top: 20px;
}

.btn-primary {
	color: black;
  background-color: #70C1B3;
   border-radius: 5px;
   margin-left: 20px;
   margin-bottom: 20px


}


.btn-primary:hover {
    color: #fff;
    background-color: green;

}

.form-control {
	width: 300px;
}

.span-5 {
	margin-right: 30px;
	padding-left: 30px;
}

.span-6 {
	margin-right: 30px;
}

.goalcard {
	margin-left: 50px;
}

.row {
	margin-left: 20px;
}