{% extends 'base.html' %}

{% block title %}Find Recipes {% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"> </script>

<h2> Hello, {{ session["name"] }} . Please find recipes here! </h2>
<h3> Please search for recipes using our cool API! </h3>

<button id="lowpotassium"> Low Potassium </button>
<p> 
	<ul>
		<li><b>Recipe Name: </b><span id='recipename'></span></li>
		<li><b>Recipe Link: </b><span id='recipelink'></span></li>

     </ul>
	</p>

<script>
"use strict";

	function showLowPotassiumRecipes(results) {

		$('#recipename').html(results["q"]);
		$('#recipelink').html(results["hits"][0]["recipe"]["label"])

	}

	function getLowPotassiumRecipes(evt) {
		$.get('https://api.edamam.com/search?q=tofu&app_id=701b2057&app_key=9f957ee3872be9ddfbadfd3ee005f3a2&nutrients[K]=200', showLowPotassiumRecipes);
	}

	$("#lowpotassium").on('click', getLowPotassiumRecipes);

</script>

{% endblock %}



	<p id='diets' class="show">
	<input type="button" name="nutrient" value="sodium"> Sodium 
	<input type="text" name="nutrientamount" class='textinput' id="sodium"> <p>
	<input type="button" name="nutrient" value="protein"> Protein 
	<input type="text" name="nutrientamount" class='textinput' id="protein"> <p>
	<input type="checkbox" name="nutrient" value="fiber"> Fiber 
	<input type="text" name="nutrientamount" class='textinput' id="fiber"> <p>
	<input type="checkbox" name="nutrient" value="fat"> Fat  
	<input type="text" name="nutrientamount" class='textinput' id="fat"> <p>
	<input type="checkbox" name="nutrient" value="saturatedfat"> Saturated Fat  
	<input type="text" name="nutrientamount" class='textinput' id="saturatedfat"> <p>
	<input type="checkbox" name="nutrient" value="potassium"> Potassium 
	<input type="text" name="nutrientamount" class='textinput' id="potassium"> <p>
	<input type="checkbox" name="nutrient" value="phosphorus"> Phosphorus 
	<input type="text" name="nutrientamount" class='textinput' id="phosphorus"> <p>
	<input type="checkbox" name="nutrient" value="carbohydrate"> Carbohydrates  
	<input type="text" name="nutrientamount" class='textinput' id="carbohydrate"> <p>
	<input type="checkbox" name="nutrient" value="calories"> Calories 
	<input type="text" name="nutrientamount" class='textinput' id="calories"> <p>
	<input type="checkbox" name="nutrient" value="iron"> Iron 
	<input type="text" name="nutrientamount" class='textinput' id="iron"> 
	</p>


	function addRecipe(evt) {
		evt.preventDefault();
		console.log("got inside addRecipe")
		let nutrientamount = evt.currentTarget["0"].val()
		console.log(nutrientamount)
	}

	$(".submitbutton").on("click", addRecipe)


