{% extends 'base2.html' %}

{% block title %}Find Recipes {% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"> </script>

<div class="container2"> 
<ul> 
	{% for message in get_flashed_messages() %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>

<h2> Hello, {{ session["name"] }} . Please find recipes here! </h2>
<h3> Please search for recipes using our cool API! </h3>



<form action="/get-recipe.json">
	What food are you searching for? (ex: tofu, apple, chocolate) <input type="text" name="food" required> <p>
	<h4> Please select the kind of diet(s) you would like: </h4>
	<input type="checkbox" name="nutrient" value="lowpotassium"> Low Potassium
	<input type="checkbox" name="nutrient" value="lowphosphorus"> Low Phosphorus <p>
	<input type="checkbox" name="nutrient" value="carbohydratecontrolled34">Carbohydrate Controlled (3-4 carb choices) <p> 
	<input type="checkbox" name="nutrient" value="carbohydratecontrolled45">Carbohydrate Controlled (4-5 carb choices) <p>
	<input type="checkbox" name="nutrient" value="highfiber"> High Fiber 
	<input type="checkbox" name="nutrient" value="lowfat"> Low Fat <p>
	<input type="checkbox" name="nutrient" value="highprotein"> High Protein 
	<input type="checkbox" name="nutrient" value="lowsodium"> Low Sodium <p>
	<input type="checkbox" name="nutrient" value="lowprotein"> Low Protein  
	<input type="checkbox" name="nutrient" value="lowfiber"> Low Fiber <p>
	<input type="checkbox" name="nutrient" value="lowsaturatedfat"> Low Saturated Fat 
	<input type="checkbox" name="nutrient" value="lowcalories"> Low Calories <p>
	<input type="checkbox" name="nutrient" value="highiron"> High Iron
<!-- # TRY MAKING THIS AN AJAX CALL TO DB -->

    <p> <input type="submit">

</form>
</div>



<script>

</script>

{% endblock %} 