
<!DOCTYPE html>
<html>
<head>
	<title>Homepage </title>
</head>
<body>
<ul> 
	{% for message in get_flashed_messages() %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>

<h1> Welcome to the Homepage! </h1>

<h3> Find recipes based on your dietary needs! </h3>

<h2> Pleae login or register for an account to get started </h2>

<form action="/register"> 
	<button type="submit" name="register">Register</button>
</form>

<form action="/login"> 
	<button type="submit" name="login">Log In</button>
</form>
</body>

</html>