{% extends 'base1.html' %}

{% block title %}Log In {% endblock %}

{% block content %}


<div class="top-section"><h1> NutriFi</h1></div>
      </div>




<div><form action="/get-login-info" class='center' method="GET">
	<h2> Please Log In </h2>
	<label for='email'> Email Address: </label>
	<input type="text" name="email" class='textinput' required> <p>
	<label for='password'> Password: </label> 
	<input type="password" name="password" class='textinput' required> <p>
	<input type="submit" class="submitbutton">
</form></div>



{% endblock %}