{% extends 'base.html' %}

{% block title %} View Recipes {% endblock %}

{% block content %}

<ul>
	{% if recipes != [] %}
		<h2> Hello, {{ session["name"] }} . Here are your recipes </h2>
	
		  {% for recipe in recipes %}
		 
		   <p><img src= {{ recipe['recipe_image'] }} ></p>
		   <p><h3>{{ recipe['recipe_name'] }} </h3></p>
		   <p><a href="{{ recipe['recipe_blog_url'] }}"> Link to Nutrition Facts </a></p>
		   <p><a href="{{ recipe['recipe_url'] }}"> Find Instructions Here </a></p>
		   		<b><h4> Health Labels:</b>  
		        {% for label in recipe['recipe_labels'] %}
		   		 {{ label }} 
		     	{% endfor %} </h4> 
		    <form action="/save-recipe" method="POST">
		   	<button type="submit" name='recipe' value='{{recipe}}'>Save Recipe</button>
		   </form>
		{% endfor %}
	{% else %}
	    <h2> Sorry, {{ session["name"] }}. No recipes found with those criteria. Try to narrow your search. </h2>
 	{% endif %}
	</ul>



{% endblock %}