{% extends 'base2.html' %}

{% block title %} View Recipes {% endblock %}

{% block content %}


	{% if recipes != [] %}
		<h2> Hello, {{ session["name"] }}. We found the following recipes for you. </h2>
	
		   {% for recipe in recipes %}
		   <div class="container"> 
		       <p><img src= {{ recipe['recipe_image'] }}></p>
		       <p><h3>{{ recipe['recipe_name'] }} </h3></p>
		       <form action="{{ recipe['recipe_blog_url'] }}">
    			<input type="submit" class="nutritionbutton" value="Nutrition Information" />
				</form>
				 <form action="{{ recipe['recipe_url'] }}">
    			<input type="submit" class="instructionbutton" value="Nutrition Information" />
				</form>
		   	   <b><h6> Health Labels:</b>  
		            {% for label in recipe['labels'] %}
		   		      {{ label }} 
		     	    {% endfor %} </h6> 
		        <form action="/save-recipe" method="POST">
		   	    <button type="submit" class="submitbutton" name='recipeurl' value='{{recipe['recipe_url']}}'>Save Recipe</button>
		       </form> <hr> 	
		   </div>
		{% endfor %}
	{% else %}
	    <h2> Sorry, {{ session["name"] }}. No recipes found with those criteria. Try to narrow your search. </h2>
 	{% endif %}
	</ul>

	<!-- use JS to prevent selecting high protein and low protein 
 -->


{% endblock %}
