{% extends 'base1.html' %}
{% block title %}Registration Page {% endblock %}


{% block content %}

<div class="top-section"><h1> NutriFi</h1></div>
      </div>



<div class='center'><form action="/add-registration-info" method="POST" >

	<h2> Please register here:</h2>
	<label for='firstname'> First Name: </label>
	<input type="text" class='textinput' name="firstname" required> <p>
	<label for='lastname'> Last Name: </label>
	<input type="text" name="lastname" class='textinput' required> <p>
	<label for='email'> Email Address: </label>
	<input type="text" name="email" class='textinput' required> <p>
	<label for='password'> Enter a Password: </label>
	<input type="password" name="password" class='textinput' required> <p>
	<input type="submit" class="submitbutton">
</form> <div>

<!-- <form action="/update-registration-info" method="POST"> -->
<!-- 	<h4> Types of Diet you would like to follow: (optional) </h4>  -->
<!-- 	will not receive information nor from this yet, but will at the end if time permits -->
<!-- 	<input type="checkbox" name="diet" value="lowpotassium"> Low Potassium  -->
<!-- 	<input type="checkbox" name="diet" value="Hypertension"> Low Phosphorus <p> -->
<!-- 	<input type="checkbox" name="diet" value="lowsodium"> Low Sodium  -->
<!-- 	<input type="checkbox" name="diet" value="lowcalorie"> Low Calorie <p> -->
<!-- 	<input type="checkbox" name="diet" value="Carbcontrolled"> Carbohydrate Controlled  -->
<!-- 	<input type="checkbox" name="diet" value="highfiber"> High Fiber <p> -->
<!-- 	<input type="checkbox" name="diet" value="lowfiber"> Low Fiber <p>
 -->	<!-- <input type="submit"> -->
<!-- </form>
 -->
{% endblock %}