 {% extends 'base2.html' %}

{% block title %} User Profile  {% endblock %}

{% block content %}


<div><h3 style="display:inline;";> First Name:</h3> <h4 style="display:inline;"> {{ fname }} </h4></div>

<div><h3 style="display:inline;"> Last Name:</h3><h4  style="display:inline;">  {{ lname }} <h4></div>

<div><h3 style="display:inline;"> Email: </h3><h4 style="display:inline;">{{ email }} </h4></div>

<h6 class="willaddtext"></h6>

<div><h3> Allergies/Intolerances: </h3>

	{% if allergies != [] %}
		<div id="allergies">
		{% for allergy in allergies %}
		<li>{{ allergy.allergy_name }}</li>	
		{% endfor %} 

	{% else %}

		<h6> No allergies!</h6>

	{% endif %}
	</div> 

<h3> Nutrient Goals: </h3>


	<div id="dietgoals">
	{% if users_nutrient_goals != [] %}
		{% for nutrient_goal in users_nutrient_goals %}
		<li>
		{{ nutrient_goal.high_or_low }} 
		{{ nutrient_goal.nutrient_name }} |	
		Goal: {{ nutrient_goal.nutrient_goal}}
		<form action="/delete-diet" method="POST" class="deleteForm" name="dietid" id ="{{nutrient_goal.nutrient_name}}" class="dietform">  
		<button type="submit" class="deletebutton" name='diet'> remove </button>
		</form></li>
		{% endfor %} 
	{% else %}

		
		<div id="nogoals"><h6> No nutrient Goals. Please Add! </h6></div>

	{% endif %}</div>

	<p><form action="/add-diet" method="POST" class="adddiet">
	<button type="button" class="" id="" name="" value="">Add Diet</button>
	</form>

	<div class="hidden" id="hiddenadd">
	<form action="/add-diet" method="POST" >
		<button type="submit" name="nutrient" value="sodium" class="nutrient"> Sodium </button>
		<button type="submit" name="nutrient" value="protein" class="nutrient"> Protein </button>
		<button type="submit" name="nutrient" value="fiber" class="nutrient"> Fiber </button>
		<button type="submit" name="nutrient" value="totalfat" class="nutrient"> Total Fat </button>  
		<button type="submit" name="nutrient" value="saturatedfat" class="nutrient"> Saturated fat </button>
		<button type="submit" name="nutrient" value="potassium" class="nutrient">  Potassium </button>
		<button type="submit" name="nutrient" value="phosphorus" class="nutrient">  Phosphorus </button>
		<button type="submit" name="nutrient" value="carbohydrates" class="nutrient"> Carbohydrates  </button>  
		<button type="submit" name="nutrient" value="calories" class="nutrient">  Calories </button>
		<button type="submit" name="nutrient" value="iron" class="nutrient">  Iron </button>
	</form>
	</div>
	<div class="hidden" id="invisibletextbox">
		<form action="/add-diet" method="POST">
			<div>
			<label for='nutrientgoal' class="labelinputnutrient"> Would you like a diet high or low in: <h5></h5>
			<input type="radio" name = "highlow" value="high" id="high" required> High
			<input type="radio" name = "highlow" value="low" id="low" required> Low  <p>
			</div>
			<div>
			<label for='nutrientgoal' class="labelinputnutrient"> Please enter your nutrient goal for:<h5></h5>
			<input type="number" name="goal" class='textinput' id="nutrientgoal" required><h4 id='unit'></h4>
			<input type="submit" class="submitbutton">
			</div>

		</form>
	</div>
	<div id="description"></div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/javascript.js"></script>

{% endblock %}

