{% extends 'base2.html' %}

{% block title %} User Portal {% endblock %}

{% block content %}
<div>
<h2> Welcome, {{ session["name"] }} </h2>
<h2> The place to find recipes for your nutrient goals! </h2>
<div>




<h3> Recommended Recipe: </h3>

	<center><div class="roundborder">
	<div style="display: block;"><p id="recipename" align="left"></p></div>
	<div style="display: inline-block;"><p id="image" align="right"></p></div>
	<div style="display: inline-block;"><p id="url"> </p>
	<p id="blogurl"> </p>
	<p id="url"> </p> </div>
	</div></center>
  <center></div>






<script src="https://code.jquery.com/jquery.js"></script>
   		
<script>
'use strict'


	   $.get("/recommend-recipe", function (data) {
	        $('#recipename').html(data.recipe_name);
	        $('#image').html("<" + "img src=" + " " + data.image + ">");
	        $('#url').html(data.url);
	        $('#blogurl').html(data.blog_url);
	    });


</script>

{% endblock %}                     
