 {% extends 'base2.html' %}

{% block title %} View Saved Recipes  {% endblock %}

{% block content %}



<ul>
	{% if recipes != [] %}
		<h2> Hello, {{ session["name"].title( ) }}. Here are your saved recipes! </h2>
<div class="sortbuttons">

<button type="button" class="btn btn-success labelButton btn-space" id="showall">Show All</button>
<button type="button" class="btn btn-success labelButton btn-space" id="balanced" >Balanced</button>
<button type="button" class="btn btn-success labelButton btn-space" id="vegetarian">Vegetarian</button>
<button type="button" class="btn btn-success labelButton btn-space" id="lowcarb">Low-Carb</button>
<button type="button" class="btn btn-success labelButton btn-space" id="vegan">Vegan</button>
<button type="button" class="btn btn-success labelButton btn-space" id="sugarconciious">Sugar-Concious</button>

</div>

	
		{% for recipe in recipes %}

<!-- <div class="card eachRecipe" id="{{ recipe[0].blog_url }}" style="width: 18rem display:inline;">
  <img class="card-img-top shadow" src={{ recipe[0].recipe_image}}> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ recipe[0].recipe_name }}</h5>
    <p class="card-text"><b><h6 class="labels"> Health Labels:ßß</b> | 
		   				{% for label in recipe[1] %}
		   		 		{{ label.diet_label }} |

		     		{% endfor %} </h6> </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <form action="/analyze-goal" class="analyzegoal">  		
				<button type="submit" class="analyzegoalButton" name='url' value='{{ recipe[0].recipe_url }}'> Analyze Recipe </button>
				</form>
				<form action="/delete-recipe" method="POST" class="deleteForm">  		
				<button type="submit" class="deleteButton" id="{{recipe[0].recipe_id}}" name='url' value='{{ recipe[0].recipe_url }}'> Delete Recipe</button>
				</form>
    </li>
  </ul>
  <div class="card-body">
    <a href="{{ recipe[0].recipe_url }}" class="card-link">Directions</a>
    <a href="{{ recipe[0].blog_url }}" class="card-link">Nutrition</a>
  </div>
</div> -->
<!-- <div class="container">
<div class='card-group'>
<div class="col-xs-12 col-md-6 col-lg-4 col-xl-4"> -->

<div class="card eachRecipe" style="display: inline-block; width: 18rem;" id="{{ recipe[0].blog_url }}">
  <div class="card-header card1 cardbody1"> 
     <div display: inline-block;><h5>{{ recipe[0].recipe_name }} </h5></div> <div display: inline-block;></div>    
  </div>
    <img class="card-img-top" src={{ recipe[0].recipe_image}} alt="Card image cap">
  	<div class="card-body">
    <p class="card-text"><b><h6 class="labels"> Health Labels:</b> | 
		   				 {% for label in recipe[1] %}
		   		 		 {{ label.diet_label }} |
		     		     {% endfor %} </h6> </p> </div>
    <div style="display: inline-block"><a href="{{ recipe[0].recipe_url }}" class="directionsbutton btn btn-primary btn-primary:hover">Directions</a></div>
        <div class="analyzebuttons" style="display: inline-block"><form action="/analyze-goal" class="analyzegoal">  		
		<button type="submit" class="btn btn-primary btn-primary:hover" name='url' value='{{ recipe[0].recipe_url }}'> Analyze </button></form></div>
		<div style="display: inline-block"><form action="/delete-recipe" method="POST" class="deleteForm">  		
		<button type="submit" class="deleteButton" id="{{recipe[0].recipe_id}}" name='url' value='{{ recipe[0].recipe_url }}'>delete</button></div>
		</form>
	  </div>	
  </div>

<!-- </div>
</div> -->

<!-- 		<ul class="eachRecipe" id="{{ recipe[0].blog_url }}">
		   <p><img class="shadow" src= {{ recipe[0].recipe_image}}></p>
		   <p><h5>{{ recipe[0].recipe_name }} </h5></p>
 				<form action="{{ recipe[0].blog_url }}">
    			<input type="submit" class="nutritionbutton" value="Nutrition Information">
				</form>
				<form action="{{ recipe[0].recipe_url }}">
    			<input type="submit" class="instructionbutton" value="Directions">
				</form>
		  
		   		<b><h6 class="labels"> Health Labels:</b> | 
		   				{% for label in recipe[1] %}
		   		 		{{ label.diet_label }} |

		     		{% endfor %} </h6> 
		     	<form action="/analyze-goal" class="analyzegoal">  		
				<button type="submit" class="analyzegoalButton" name='url' value='{{ recipe[0].recipe_url }}'> Analyze Recipe </button>
				</form>

				<form action="/delete-recipe" method="POST" class="deleteForm">  		
				<button type="submit" class="deleteButton" id="{{recipe[0].recipe_id}}" name='url' value='{{ recipe[0].recipe_url }}'> Delete Recipe</button>
				</form>
				<hr>
		</ul> -->
		{% endfor %}
		

 	{% else %}

 		<h6> No recipes Saved </h6>
	</ul>
	<div>

	{% endif %}

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/javascript.js"></script>
   		

{% endblock %}

