 {% extends 'base2.html' %}

{% block title %} View Saved Recipes  {% endblock %}

{% block content %}



<ul>
	{% if recipes != [] %}
		<h2> Hello, {{ session["name"] }}. Here are your saved recipes! </h2>
	
		  {% for recipe in recipes %}
		 
		   <p><img src= {{ recipe.recipe_image}} ></p>
		   <p><h5>{{ recipe.recipe_name }} </h5></p>
 				<form action="{{ recipe.blog_url }}">
    			<input type="submit" class="nutritionbutton" value="Nutrition Information" />
				</form>
				 <form action="{{ recipe.recipe_url }}">
    			<input type="submit" class="instructionbutton" value="Directions" />
				</form>
		   		<b><h5> Health Labels:</b>  
		   			{{ recipe.labels }}
		   			{% for label in recipe.labels %}
		   		 		{{ label }} 
		     		{% endfor %} </h5> 
		     		<hr>

		{% endfor %}
	{% else %}

 	{% endif %}
	</ul>



{% endblock %}

